$primary-color: black;
$secondary-color: white;

//heading

.lg-heading {
  font-size: 6rem;
  font-weight: 400;
}

//Bio

.container-bio {
  padding: 10px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .text-secondary {
    color: $primary-color;
    font-weight: bold;
    font-size: 30px;
  }

  p {
    padding: 10px;
    margin-top: 25px;
    color: $primary-color;
    font-size: 20px;
  }
}

//skils

.container-skills {
  margin-top: 25px;
  display: inline-grid;
  grid-template-columns: auto auto auto;

  .skill-block {
    border: 1px $primary-color solid;
    box-shadow: 2px 2px 2px darkgray;
    border-radius: 15px;
    padding: 25px;
    margin: 10px;
    color: $primary-color;

    .main-skill {
      font-weight: bold;
      padding-top: 5px;
    }

    .skill-list {
      padding-top: 10px;
    }

  }
}

@media(max-width: 800px) {

  .container-skills {
    grid-template-columns: auto;
  }

}
