<main id="about">
  <h1 class="lg-heading">
    About
    <span class="text-secondary">Me</span>
  </h1>

  <div class="about-info">
    <div class="container-bio">

      <h3 class="text-secondary">
        BIO
      </h3>
      <p>
        Enthusiastic, committed and technology savvy student talented in
        programming with awards in competitions along with multiple
        certifications testing my knowledge.
      </p>

    </div>

    <div class="container-skills">

      <div class="skill-block">
        <i class="fas fa-language fa-lg"></i>
        <h3 class="main-skill">Languages</h3>
        <ul class="skill-list">
          <li>
            Java, Python, C, C++, Golang, R, JavaScript, HTML, CSS, MATLAB
          </li>
        </ul>
      </div>

      <div class="skill-block">
        <i class="fas fa-database fa-lg"></i>
        <h3 class="main-skill">Databases</h3>
        <ul class="skill-list">
          <li>
            SQLite, MySQL, MongoDB
          </li>
        </ul>
      </div>

      <div class="skill-block">
        <i class="fas fa-microchip fa-lg"></i>
        <h3 class="main-skill">Technologies</h3>
        <ul class="skill-list">
          <li>
            AWS, Firebase, GCP, Android Studio, Linux, Windows, Cisco CLI, Eclipse
          </li>
        </ul>
      </div>

      <div class="skill-block">
        <i class="fas fa-book-reader fa-lg"></i>
        <h3 class="main-skill">Soft Skills</h3>
        <ul class="skill-list">
          <li>
            Teamwork, Flexibility, Research, Problem Solving, Integrity
           </li> 
        </ul>
      </div>

      <div class="skill-block">
        <i class="fas fa-user-friends fa-lg"></i>
        <h3 class="main-skill">Leadership</h3>
        <ul class="skill-list">
          <li>
            Global Guide - Helped international students effectively integrate with Texas Tech and American culture
          </li>
          <li>
            President of the Computer Science Club in High School
          </li>
        </ul>
      </div>

      <div class="skill-block">
        <i class="fas fa-certificate fa-lg"></i>
        <h3 class="main-skill">Certifications</h3>
        <ul class="skill-list">
          <li>
            Microsoft Technology Associate in Software Development Fundamentals
          </li>
          <li>
            CCENT Certification in Routing and Switching
          </li>
          <li>
            Microsoft Office Specialist in Access
          </li>
          <li>
            Adobe Certification in Photoshop
          </li>
        </ul>
      </div>

      <div class="skill-block">
        <i class="fas fa-trophy fa-lg"></i>
        <h3 class="main-skill">Awards</h3>
        <ul class="skill-list">
          <li>
            Certificate of Academic Achievement - Interpersonal Studies
          </li>
          <li>
            Certificate of Academic Achievement - Mobile Applications
          </li>
          <li>
            Certificate of Academic Achievement - Web Technologies
          </li>
          <li>
            First Place in FBLA Texas Conference
          </li>
          <li>
            Award in University Interscholastic League – Programming Competition
          </li>
        </ul>
      </div>

    </div>
  </div>
</main>
