<main id="about">
  <h1 class="lg-heading">
    About
    <span class="text-secondary">Me</span>
  </h1>

  <div class="about-info">
    <div class="bio">
      <h3 class="text-secondary">
        BIO
      </h3>
      <p>
        Enthusiastic, committed and technology savvy student talented in
        programming with awards in competitions along with multiple
        certifications testing my knowledge.
      </p>
    </div>

    <div class="skills">
      <h3 class="main-skill">Languages</h3>
      <div class="skill-list">
        Java, Python, C, C++, Golang, R, JavaScript, HTML, CSS, MATLAB
      </div>

      <h3 class="main-skill">Databases</h3>
      <div class="skill-list">SQLite, MySQL, MongoDB</div>

      <h3 class="main-skill">Technologies</h3>
      <div class="skill-list">
        AWS, Firebase, GCP, Android Studio, Linux, Windows, Cisco CLI, Eclipse
      </div>

      <h3 class="main-skill">Soft Skills</h3>
      <div class="skill-list">
        Teamwork, Flexibility, Research, Problem Solving, Integrity
      </div>

      <h3 class="main-skill">Leadership</h3>
      <div class="skill-list">
        Global Guide - Helped international students effectively integrate with
        Texas Tech and American culture
      </div>
      <div class="skill-list">
        President of the Computer Science Club in High School
      </div>

      <h3 class="main-skill">Certifications</h3>
      <div class="skill-list">
        Microsoft Technology Associate in Software Development Fundamentals
      </div>
      <div class="skill-list">CCENT Certification in Routing and Switching</div>
      <div class="skill-list">Microsoft Office Specialist in Access</div>
      <div class="skill-list">Adobe Certification in Photoshop</div>

      <h3 class="main-skill">Awards</h3>
      <div class="skill-list">
        Certificate of Academic Achievement - Interpersonal Studies
      </div>
      <div class="skill-list">
        Certificate of Academic Achievement - Mobile Applications
      </div>
      <div class="skill-list">
        Certificate of Academic Achievement - Web Technologies
      </div>
      <div class="skill-list">First Place in FBLA Texas Conference</div>
      <div class="skill-list">
        Award in University Interscholastic League – Programming Competition
      </div>
    </div>
  </div>
</main>
