<main id="about">
  <h1 class="lg-heading">
    Experience
  </h1>
  <div class="jobs">
    <h2 class="title">Jobs</h2>
    <div class="job">
      <div class="employer">Plants and Soil Sciences, Texas Tech</div>
      <div class="position">Student Assistant</div>
      <div class="duration">May 2018 – Present</div>
      <div class="responsibility">
        Rewrite a legacy pascal and file-based plant simulation application to
        Python and DB based application
      </div>
      <div class="responsibility">
        Responsible for code analysis for plant growth, simulation loop and data
        access and storage redesign
      </div>
      <div class="responsibility">
        Working with professors to evaluate deployment options in AWS.
        Feasibility analysis completed.
      </div>
    </div>

    <div class="job">
      <div class="employer">MaxUrge, Houston</div>
      <div class="position">Intern</div>
      <div class="duration">May 2019 – Aug 2019</div>
      <div class="responsibility">Developed a proof of concept flutter app</div>
      <div class="responsibility">
        Set up a XMPP server for chat integration in app
      </div>
    </div>

    <div class="job">
      <div class="employer">High Performance Computing Center, Texas Tech</div>
      <div class="position">Student Assistant</div>
      <div class="duration">January 2017 – May 2018</div>
      <div class="responsibility">
        Researched security requirements and database requirements for NSF
        funded Big Data NoSQL Containerized Application
      </div>
      <div class="responsibility">
        Planned reconfiguration of BMC footprints for better automation
      </div>
    </div>

    <div class="job">
      <div class="employer">Cloud Autonomic Computing center, Texas Tech</div>
      <div class="position">Student Assistant</div>
      <div class="duration">November 2016 - December 2016</div>
      <div class="responsibility">Helped in basic tasks my employer needed</div>
    </div>
  </div>
  <div class="projects">
    <h2 class="title">Projects</h2>

    <div class="project">
      <div class="project-title">Portfolio Website</div>
      <div class="date">Sep 2019</div>
      <div class="description">
        Created a personal website using Angular and hosted on Firebase using
        Google Cloud Build CI/CD pipeline
      </div>
    </div>

    <div class="project">
      <div class="project-title">EmergenSeek</div>
      <div class="date">Spring 2019</div>
      <div class="description">
        Developed a mobile application that automatically calls family and
        emergency services based on location
      </div>
      <div class="description">Built using flutter and AWS</div>
    </div>

    <div class="project">
      <div class="project-title">Budgeting Application</div>
      <div class="date">Fall 2018</div>
      <div class="description">
        A desktop application that helped students manage budget built using
        Electron.js
      </div>
    </div>

    <div class="project">
      <div class="project-title">Club Membership Maintenance</div>
      <div class="date">Mid 2016</div>
      <div class="description">
        Created a full-fledged application with database and a UI which got me
        first place in FBLA district and state conference and selected for
        national level presentation
      </div>
    </div>

    <div class="project">
      <div class="project-title">Internetworking Project</div>
      <div class="date">Mid 2015</div>
      <div class="description">
        Designed virtual network where all computers could communicate using
        routing protocols.
      </div>
    </div>
  </div>
</main>
