<main id="about">


  <h1 class="lg-heading">
    Experience
  </h1>


  <div class="jobs">

    <h2 class="title">Jobs</h2>

    <!-- container-jobs -->

    <div class="container-jobs">

      <div class="job"> 
        <div class="employer">Plants and Soil Sciences, Texas Tech</div>
        <div class="position">Student Assistant</div>
        <div class="duration">May 2018 – Present</div>
        <ul class="responsibility">
          <li>Rewrite a legacy pascal and file-based plant simulation application to Python and DB based application</li>
          <li>Responsible for code analysis for plant growth, simulation loop and data access and storage redesign</li>
          <li>Working with professors to evaluate deployment options in AWS. Feasibility analysis completed.</li>
        </ul>
      </div>
  
      <div class="job">
        <div class="employer">MaxUrge, Houston</div>
        <div class="position">Intern</div>
        <div class="duration">May 2019 – Aug 2019</div>
        <ul class="responsibility">
          <li>
            Developed a proof of concept flutter app
          </li>
          <li>
            Set up an XMPP server for chat integration in app
          </li>
        </ul>
      </div>
  
      <div class="job">
        <div class="employer">High Performance Computing Center, Texas Tech</div>
        <div class="position">Student Assistant</div>
        <div class="duration">January 2017 – May 2018</div>
        <ul class="responsibility">
          <li>
          Researched security requirements and database requirements for NSF funded Big Data NoSQL Containerized Application
          </li>
          <li>
            Planned reconfiguration of BMC footprints for better automation
          </li>
        </ul>
      </div>
  
      <div class="job">
        <div class="employer">Cloud Autonomic Computing center, Texas Tech</div>
        <div class="position">Student Assistant</div>
        <div class="duration">November 2016 - December 2016</div>
        <ul class="responsibility">
          <li>
            Helped in basic tasks my employer needed
          </li>
        </ul>
      </div>

    </div>

    <!-- container-jobs -->

  </div>


  <div class="projects">

    <h2 class="title">Projects</h2>

    <div class="container-projects">

      <div class="project">
        <div class="project-title">Portfolio Website</div>
        <div class="date">Sep 2019</div>
        <ul class="description">
          <li>
            Created a personal website using Angular and hosted on Firebase using Google Cloud Build CI/CD pipeline
          </li>
        </ul>
      </div>
  
      <div class="project">
        <div class="project-title">EmergenSeek</div>
        <div class="date">Spring 2019</div>
        <ul class="description">
          <li>
            Developed a mobile application that automatically calls family and
            emergency services based on location
          </li>
          <li>
            Built using flutter and AWS
          </li>
        </ul>
      </div>
  
      <div class="project">
        <div class="project-title">Budgeting Application</div>
        <div class="date">Fall 2018</div>
        <ul class="description">
          <li>
            A desktop application that helped students manage budget built using Electron.js
          </li>
        </ul>
      </div>
  
      <div class="project">
        <div class="project-title">Club Membership Maintenance</div>
        <div class="date">Mid 2016</div>
        <ul class="description">
          <li>
            Created a full-fledged application with database and a UI which got me first place in FBLA district and state conference and selected for national level presentation
          </li>
        </ul>
      </div>
  
      <div class="project">
        <div class="project-title">Internetworking Project</div>
        <div class="date">Mid 2015</div>
        <ul class="description">
          <li>
            Designed virtual network where all computers could communicate using routing protocols.
          </li>
        </ul>
      </div>

    </div>

  </div>

</main>
