$primary-color: black;
$secondary-color: white;

//heading

.lg-heading {
  font-size: 6rem;
  font-weight: 400;
}

//contact

.contact-boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .contact-section {
    border: 1px $primary-color solid;
    box-shadow: 2px 2px 2px darkgray;
    border-radius: 15px;
    padding: 25px;
    margin: 10px;

    span {
      font-weight: bold;
      padding-left: 10px;
    }
  }
}
