<main id="about">
  <h1 class="lg-heading">
    Contact Me
  </h1>
  <div class="contact-boxes"> 

    <div class="contact-section">
      <i class="fas fa-envelope fa-lg"></i>
      <span class="text-secondary">
        Email: </span> contact@suhasbacchu.com
    </div>

    <div class="contact-section">
      <i class="fas fa-phone fa-lg"></i>
      <span class="text-secondary">
        Phone Number: </span> (832) 672-0272
    </div>

    <div class="contact-section">
      <i class="fas fa-map-marked-alt fa-lg"></i>
      <span class="text-secondary">
        Address: </span> 2202 Mac Davis Ln Apt 713B,
      Lubbock TX - 79401
    </div>

  </div>
</main>
