<div class="header">
  <h2 class="logo" routerLink="/">Suhas Bacchu</h2>
  <input type="checkbox" id="chk" />
  <label for="chk" class="show-menu-btn">
    <i class="fas fa-ellipsis-h"></i>
  </label>

  <ul class="menu">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/experience" routerLinkActive="active">Experience</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <label for="chk" class="hide-menu-btn">
      <i class="fas fa-times"></i>
    </label>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
