h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: black;
  text-decoration: none;
}

main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: darkgrey;
        transition: all 0.5s ease-out;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
