<main id="home">
  <h1 class="lg-heading">
    Suhas
    <span class="text-secondary">Bacchu</span>
  </h1>
  <h2 class="sm-heading">Student and Programmer</h2>
  <!-- TODO: add links to the icons -->
  <div class="icons">
    <a href="https://twitter.suhasbacchu.com"
      ><i class="fab fa-twitter fa-2x"></i
    ></a>
    <a href="https://facebook.suhasbacchu.com"
      ><i class="fab fa-facebook fa-2x"></i
    ></a>
    <a href="https://linkedin.suhasbacchu.com"
      ><i class="fab fa-linkedin fa-2x"></i
    ></a>
    <a href="https://github.suhasbacchu.com"
      ><i class="fab fa-github fa-2x"></i
    ></a>
  </div>
</main>
